
{% extends "analysis.jinja2.html" %}
{% set saActive_page = "pricePrediction" %}

{% block sub_content %}
  <div class="container">
    <h2>{% block title %}Stock Price Prediction{% endblock %}</h2>
   
	<form action={{url_for('analysis_bp.pricePredictionSubmit')}} method="GET">
		
		<label for="symbol">Select a stock symbol</label>
		<select name="symbol" id="entity">
			<option hidden disabled selected value> -- Select an option -- </option>
			{% for key, value in hSymbols.items() %}
				<option value="{{ key }}">{{ value }} ({{ key }})</option>
			{% endfor %}
		</select>
		
		<input type="checkbox" id="sentiment" name="sentiment" value="True">
		<label for="sentiment"> Sentiments </label><a href="#" data-tooltip="Select to use models with sentiments">?</a>
		<br><br>
		{% if hIsSentimentModel == "True" %}
			{% set hSenText = '(using a model with sentiments)' %}
		{% endif %}
		{% if hPrediction != "" %}
			<p class="pTitle">Predicted Price for <b>{{hPredictedSymbol}}</b> {{hSenText}} on Jan 4, 2021 is: &nbsp;<em>{{hPrediction}}</em></p>
		{% endif %}
		<input type="submit" value="Submit">
	</form>
	<br>
	{% if hPrediction != "" %}
		{% include 'graph.html' %}
	{% endif %}
  </div>

{% endblock %}
