{% extends "analysis.jinja2.html" %}
{% set saActive_page = "stock_relationship" %}

{% block sub_content %}
  <div class="container">
    <h2>{% block title %}Stock Relationship{% endblock %}</h2>
    <p>Select two stock symbols:</p>
    
	<form action={{url_for('analysis_bp.stockRelationshipSubmit')}} method="GET">
		
		<label for="symbolA">Select a stock symbol (Stock A): </label>
		<select name="symbolA" id="entity">
			<option hidden disabled selected value> -- Select an option -- </option>
			{% for key, value in hSymbols.items() %}
				<option value="{{ key }}">{{ value }} ({{ key }})</option>
			{% endfor %}
		</select>    
		
		<br>
		
		<label for="symbolB">Select a stock symbol (Stock B): </label>
		<select name="symbolB" id="entity">
			<option hidden disabled selected value> -- Select an option -- </option>
			{% for key, value in hSymbols.items() %}
				<option value="{{ key }}">{{ value }} ({{ key }})</option>
			{% endfor %}
		</select>   

		<br>
		<br>
		<input type="submit" value="Submit">
	</form>
	{% if (hSubmitFlag == "True")  %}
		{% include 'graph.html' %}
	{% endif %}
  </div>
{% endblock %}
