/* Base line */
html {
	background-color:#F2F2F2;
	font-family: Helvetica, sans-serif;
	color:#3d3d3d;
}

ul {
	list-style-type: disclosure-closed;
	color:grey;
}

a {
	color: royalblue;
}
em {
	color: goldenrod;
	font-size: 32px;
	font-weight: bold;
}
p {
	margin-top: 0px;
}
/* End: Base line */

/* Tooltips */
a[data-tooltip]:link, a[data-tooltip]:visited {
  position: relative;
  text-decoration: none;
  border-bottom: solid 1px;
}

a[data-tooltip]:before {
  content: "";
  position: absolute;
  border-top: 1em solid #4169E1;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  display: none;
  top: -1em;
}

a[data-tooltip]:after {
  content: attr(data-tooltip);
  position: absolute;
  color: white;
  top: -2.5em;
  left: -1em;
  background: royalblue;
  padding: .25em .75em;
  border-radius: .5em;
  white-space: nowrap;
  display: none;
}

a[data-tooltip]:hover:before, a[data-tooltip]:hover:after {
  display: inline;
}
/* End: Tooltips */
.pTitle {
	font-size: 20px;
}
select {
	padding: 5px 35px 5px 5px;
	font-size: 16px;
	border: 1px solid #CCC;
	height: 34px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	font-family: Helvetica, sans-serif;
}
input.date {
	position: relative;
	left: 83px;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	height: 34px;
}