{% extends "layout.jinja2.html" %}
{% set active_page = "home" %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Stock Prediction Application</h1>
	<p>To investigate the effectiveness of an investor using the knowledge, discovery, and data mining process to assist the creating and maintaining a Jamaica Stock Exchange stock portfolio. The project will seek to help answer the following questions an investor might have, in a systematic way void of emotion, that is, “What stocks to buy/sell”, “When to buy/sell” and “Why should I buy or sell?”.</p>

  </div>
{% endblock %}
